@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/topicos.css);
@import url(styles/newsletter.css);
@import url(styles/footer.css);

:root{
    --fundo-rodape: #F9F9F9;
    --cor-de-fundo: #ebecee;
    --azul: #002F52;
    --cor-azul-escuro: ;
    --branco: #ffffff;
    --laranja: #EB9B00;
    --preto: #000000;
    --degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin sans";
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}